/* body{
    background-color: mediumvioletred;
    border-width: 10px;
    border-style: solid;
    border-color: aquamarine;
    margin-top: 50px;
}
.logo{
    background-color: blue;
    border-width: 10px;
    border-style: solid;
    border-color: aquamarine;
    padding-top: 40px;
    margin-top: 40px;
}
img{
    width:100px ;
    height: 400px;
}
p{
    font-size: 56px;
    font-weight: bold;
    color:white;
    text-align: center;
} */
.nav-bar{
   display: flex;
   flex-direction: row; 
}
.link-container{
    margin-left: auto;
    font-family: 'Courier New', Courier, monospace;   
}
a{
    color: black;
    font-weight: bold;
    transition: 500ms;
}
a:hover{
font-size: 50px;
color: red;
}

.animate{
    height: 60px;
    width: 200px;
    background-color: black;
    transition: 300ms;
}

.animate:hover{
    width: 300px;
    background-color: blue;
}
button:hover{
    background-color: black;
    color: white;
}
button:active{
    background-color: blue;
}
button{
    font-size: 18px;
    color: black;
    font-weight: bold;
    padding: 16px;
    border-radius: 999px;
    border: 1px solid black;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    transition: 500ms;
}
p{

    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}
.hero{
    display: flex;
    flex-direction: column;
    width: fit-content;
 
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

}
.banner{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url("./img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
/* .banner-2{
    width: 100vw;
    height: 100vh;
    background-color: red;  
} */

